<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?define Version = "2.0.0.0" ?>
  
	<Product Id="*" Name="CodePulse.Installer.Win64" Language="1033" Version="$(var.Version)" Manufacturer="Secure Decisions" UpgradeCode="dc5c75ce-4562-4dc9-a1f5-e8e7e01b1c13">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

	  <Icon Id="AppIcon" SourceFile="AppIcon.ico"/>
	  <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
	  <UIRef Id="WixUI_InstallDir" />
	  <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

		<Feature Id="ProductFeature" Title="CodePulse" Level="1">
      <ComponentGroupRef Id="CodePulseApp"/>
      <ComponentGroupRef Id="SymbolService"/>
      <ComponentGroupRef Id="Tracers"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="Code Pulse" />
			</Directory>
		</Directory>
	</Fragment>
</Wix>
