.DS_Store
.java-version
.scala_dependencies
.settings/
.classpath
.cache
.project
.idea
.idea_modules
*.sublime-workspace
target/
outputs/

/distrib/dependencies/
/fetch-cache

*.log

dotnet-symbol-service-last-commit