/* Notifications.css */

/* The container area for all visible notifications */
.notifications-visible {
	background-color: rgba(0,0,0,.5);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) calc(100% - 5px), transparent 100%);

	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;

	display: flex;
	flex-direction: column-reverse;
}

/* The container area for an individual notification */
.notification {
	/*text-align: center;*/
	margin-bottom: 10px;
	display: flex;
	position: relative;
}

.notification:last-child {
	padding-top: 7px;
}

/* Notification content container */
.notification-body {
	display: inline-block;
	background-color: #00B600; /* arbitrary green, for now */
	color: white;

	/* make it fluffy */
	padding: 8px 20px;
	border-radius: 5px;

	/* set side margins to 'auto' to center within its container */
	margin-left: auto;
	margin-right: auto;

	border: 1px solid;
}

/* Transitions for notifications */
.notification.slide {
	transition: margin-top .3s ease, opacity .3s ease;
	margin-top: -40px;
	opacity: 0;
}

.notification.slide.in {
	margin-top: 0;
	opacity: 1;
}