g.treemap-hover rect.node-outline {
	stroke: black;
	stroke-width: 2px;
	pointer-events: none;
	fill: none;
}

g.treemap rect.node {
	stroke-width: 1px;
	shape-rendering: crispEdges;
	stroke: white;
}

g.treemap rect.node-highlight {
	fill: orange;
	stroke: white;
	shape-rendering: crispEdges;
	stroke-width: 1px;
	pointer-events: none;
}

g.treemap rect.node.ignored {
	display: none;
}