/* Custom qtip style */
.ui-tooltip, .qtip{
	max-width: 400px;
	min-width: 50px;
	
	font-size: 1em;
	line-height: normal;
}

.ui-tooltip-hudson{
	border: 0;
	background: rgba(0, 0, 0, .7);
}

.ui-tooltip-hudson .qtip-titlebar,
.ui-tooltip-hudson .qtip-content{
	background: transparent;
	color: #eee;
	border: 0px transparent;
}

.ui-tooltip-hudson .qtip-titlebar{
	font-size: 0.9em;
	padding: 2px 10px 7px 10px;
	font-weight: bold;
}

.ui-tooltip-hudson .qtip-content{
	font-size: 0.8em;
	padding: 0px 10px 2px 10px;
	color: white;
}

.ui-tooltip-hudson .qtip-icon{
	border-color: #222;
	text-shadow: none;
}

.ui-tooltip-hudson .qtip-titlebar .ui-state-hover{
	border-color: #303030;
}