.traceSwitcher * {
	box-sizing: border-box;
}

.traceSwitcher .slideDownSidebar {
	position: fixed;
	bottom: 25px;
	top: 60px;
	left: 0;
	width: 285px;
	overflow-y: hidden;

	transition: bottom .3s ease;

	background-color: lightgray;
	color: white;

	box-shadow: 0 0 5px black;
}

.traceSwitcher .slideDownSidebar.collapsed {
	/* set the `bottom` attribute to match the `top`, for a height of 0 */
	bottom: calc(100% - 60px);
}

.traceSwitcher .full-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.traceSwitcher .traceInputLinks {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.traceSwitcher .traceInputLink {
	display: block;
	padding: 5px;
	box-sizing: border-box;

	background-color: silver;
	color: black;
	text-decoration: none;
}

.traceSwitcher .traceInputLink:hover {
	background-color: gray;
}

.traceSwitcher .traceList {
	max-height: calc(100% - 60px);
	overflow-y: auto;
}

[data-toggle=TraceSwitcher] {
	height: 100%;
	padding: 0 20px;
	background-color: #055;
	font-size: 1.2em;
	cursor: pointer;
}
[data-toggle=TraceSwitcher]:hover {
	background-color: #066;
}
[data-toggle=TraceSwitcher].active {
	background-color: #FFA500;
}
[data-toggle=TraceSwitcher].active:hover {
	background-color: #FFBA00;
}

/******************\
| Trace List Items |
\******************/

 .traceList .emptyListPlaceholder {
 	color: gray;
 	text-align: center;
 	margin-top: 22px;
 }

 .traceSwitcher .traceListItem {
	display: block;
	box-sizing: border-box;
	padding: 3px;
	background-color: lightgray;
	color: black;
	border-bottom: 1px solid silver;
 }

 .traceSwitcher .traceListItem a {
 	color: #666;
	text-decoration: none;
 }

 .traceSwitcher .traceListItem a:hover {
 	color: black;
 }

 .traceSwitcher .traceListItem .menu-links a {
 	font-size: 0.8em;
 }

 .traceSwitcher .traceListItem .menu-links a:not(:first-child) {
 	margin-left: 5px;
 }

 .traceSwitcher .traceListItem:hover {
	background-color: #BBB;
 }

 .traceSwitcher .traceListItem .menu-links a[disabled] {
 	text-decoration: line-through;
 }

 .traceSwitcher .traceListItem .date {
 	font-size: small;
 }

 .traceSwitcher .traceListItem .date span {
 	font-size: x-small;
 }


/******************************\
| Striped Background Animation |
\******************************/

 /* Striped Background Effect for .in-progress recordings */
 @keyframes stripe-animation {
 	from { background-position: 40px 0; }
 	to { background-position: 0 0; }
 }
 @-webkit-keyframes stripe-animation {
 	from { background-position: 40px 0; }
 	to { background-position: 0 0; }
 }
 
 .stripedBackground {
 	background-image: linear-gradient(45deg, 
 		rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, 
 		rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, 
 		rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, 
 		rgba(0, 0, 0, 0)
 	);
 
 	background-size: 40px 40px;
 
 }
 /* show an animation on the stripes when the trace is running */
 .stripedBackground.animated {
 	animation: stripe-animation 2s linear infinite;
 	-webkit-animation: stripe-animation 2s linear infinite;
 }