.project-form-container {
	margin-left: 285px;
	padding: 1em;
}

.fixed-header h1 {
	line-height: 60px;
	padding-left: 2px;
	display: inline-block;
}

.projectSwitcher .projectList {
	max-height: 100% !important;
}
.projectSwitcher .projectInputLinks {
	display: none;
}