.fixed-header {
	position: fixed;
	top: 0px;
	height: 60px;
	left: 0;
	right: 0;

	z-index: 3;

	background: #323232;
	color: white;
	line-height: 60px;
}

.fixed-footer {
	position: fixed;
	height: 25px;
	line-height: 25px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 1px;

	z-index: 3;

	background: #323232;
	color: #eee;
	font-size: 0.8em;
}

.fixed-header h1 {
	font-weight: normal;
}

.fixed-sidebar {
	position: fixed;
	top: 60px; /* below #fixed-subheader */
	bottom: 25px; /* above #fixed-footer */
	/* horizontal positioning up to the instance to decide */
}

.footer-push {
	height: 25px;
	min-height: 25px;
}

#content-wrapper {
	padding-top: 60px;
	padding-bottom: 25px;
}

.header-push {
	height: 60px;
	min-height: 60px;
}

#refresh-link {
	cursor: pointer;
	color: #9C9C9C;
	opacity: 0.8;
	background-color: transparent;
	padding: 3px;
	text-decoration: none;

}

#refresh-link:hover {
	opacity: 1;
}

#refresh-link-tooltip {
	display: none;
}

#refresh-link-tooltip a {
	color: rgb(219, 175, 0);
}

.vr {
	border-left: 1px solid;
	display: inline;
	margin-right: 5px;
}

#status-bar {
	display: inline-block;
}

#status-bar .status { display: none; }
#status-bar.slow-treemap .status.status-slow-treemap { display: block; }