<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?define Version = "1.0.0.0" ?>
  <?define x86OutputFolder = "..\CodePulse.Installer\bin\Release\" ?>
  <?define x64OutputFolder = "..\CodePulse.Installer.x64\bin\x64\Release\" ?>
  
	<Bundle Name="Code Pulse .NET Tracer" Version="$(var.Version)" Manufacturer="Secure Decisions" UpgradeCode="d390f301-798f-4b2d-a740-061ab6941645">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="License.rtf" LogoFile="AppIcon.ico"/>
    </BootstrapperApplicationRef>
		<Chain>
      <PackageGroupRef Id="NetFx452Web"/>
      <MsiPackage SourceFile="$(var.x86OutputFolder)CodePulse.DotNet.Tracer.msi"/>
      <MsiPackage SourceFile="$(var.x64OutputFolder)CodePulse.DotNet.Tracer.x64.msi" InstallCondition="VersionNT64"/>
		</Chain>
	</Bundle>
</Wix>
